	<div class="card-content">
		<div class="card-img">
			<img src="https://placeimg.com/380/230/nature" alt="">
			<span>
				<h4>{{desObj.nombre}}</h4>
			</span>
		</div>
		<div class="card-desc">
			<h3>{{desObj.nombre}}</h3>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor
				quo, perspiciatis
				voluptas totam</p>
			<a href="#" class="btn-card" (click)="ir()"> </a>
			
		</div>
		<span [style.display]="desObj.isSelected()" >preferido</span>
	</div>
 
 