<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
    </div>
    <div class="card-desc">
        <span>
            <h4>{{jugObj.nombre}}</h4>
        </span>
        <p>descripcion:{{jugObj.descripcion}}</p>
        <p>tipo:{{jugObj.tipo}}</p>
        <p> fecha:{{jugObj.fecha}}</p>
        <p> costo:{{jugObj.costo}}</p>
    </div>
</div>
 