<div class="container	content">
    <div class="row">
        <div class="col-md-6	offset-md-3">   
            <span class="anchor" id="formLogin"></span>
            <div class="card" style="width: 18rem;"> 
                <div class="card-body">
                    <h5 class="card-title">Nuevo juego</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Nombre de juego</h6>
                    <input type="text" class="form-control" id="Nombre" placeholder="Ingresar nombre..." #nombre>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Descripcion de juego</h6>
                    <input type="text" class="form-control" id="Descripcion" placeholder="Ingresar una Descripcion..."#descripcion>
                   
                    
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Tipo de juego</h6>
                <div class="form-group">
                    <label for="exampleFormControlSelect1"></label>
                    <select class="form-control" id="exampleFormControlSelect1" #tipo>
                      <option  *ngFor="let j of tipojuegos" >{{j}}</option>
                    </select>
                  </div>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Fecha de Compra</h6>
                    <input type="text" class="form-control" id="Tipo" placeholder="Ingrese el Fecha de Compra" #fecha>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Costo del Juego </h6>
                    <input type="text" class="form-control" id="Tipo" placeholder="Ingrese el Costo de Juego" #costo>
                </div>
                <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value,descripcion.value,tipo.value,fecha.value,costo.value)" >Guardar!</button>
            </div>
        </div>
        <app-angular-juego *ngFor="let x of juegos" [jugObj]='x'></app-angular-juego>
    </div>
</div>
